[submodule "COE_Tools_Release"]
	path = COE_Tools_Release
	url = git@github.intra.fcagroup.com:FCA-PROPULSIONSYSTEMS/COE_Tools_Release.git
[submodule "ePT_Tools"]
	path = STELLANTIS_Mdl/tools
	url = git@github.intra.fcagroup.com:FCA-PROPULSIONSYSTEMS/ePT_Tools.git
